
[DIMENSIONS AND SIZES]

#input features
in_features = 2
#embedding dimension
d_model = 16
#default query-key matrix dimension
d_qk = 8
#default value matrix dimension
d_v = 8
#default feed-forward inner dimension
d_ff = 8
#default head number
n_heads = 8
#number of encoders
n_encoders = 6
#number of decoders
n_decoders = 6

[TRAINING PARAMETERS]

epochs = 1000
learning_rate = 0.001
dropout = 0.1

[MODE]

masked_attention_matrix = True